@import "tailwindcss";
/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 0px; /* Adjust this value to your preferred width */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background color */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}

/* Firefox */
* {
  scrollbar-width: thin; /* Options: auto, thin, none */
  scrollbar-color: #888 #f1f1f1; /* thumb-color track-color */
}